<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.limdaram.ticketing.mapper.content.ContentMapper">

    <select id="select" resultType="com.limdaram.ticketing.domain.content.ContentDto">
        SELECT
            contentId,
            contentName,
            contentRegion,
            contentStartDate,
            contentEndDate,
            contentPrice,
            contentBoard
        FROM Content
        WHERE contentId = #{id}
    </select>

    <select id="list" resultType="com.limdaram.ticketing.domain.content.ContentDto">
    SELECT
        contentId,
        contentName,
        contentRegion,
        contentStartDate,
        contentEndDate,
        contentPrice,
        contentBoard
    FROM Content
    ORDER BY contentId DESC
    </select>

    <insert id="insert">
        INSERT INTO Content (contentName, contentRegion, contentStartDate, contentEndDate, contentPrice, contentBoard)
        VALUES (#{contentName}, #{contentRegion}, #{contentStartDate}, #{contentEndDate}, #{contentPrice}, #{contentBoard})
    </insert>
</mapper>