<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.limdaram.ticketing.mapper.content.ContentMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="contentId">
        INSERT INTO Content (contentName, contentRegion, contentStartDate, contentEndDate, contentPrice, contentBoard)
        VALUES (#{contentName}, #{contentRegion}, #{contentStartDate}, #{contentEndDate}, #{contentPrice}, #{contentBoard})
    </insert>

    <select id="list" resultType="com.limdaram.ticketing.domain.content.ContentDto">
        SELECT
            c.contentId,
            c.contentName,
            c.contentRegion,
            c.contentStartDate,
            c.contentEndDate,
            c.contentPrice,
            c.contentBoard,
            p.contentPosterName
        FROM
            Content c LEFT JOIN ContentPoster p ON c.contentId = p.contentId
        ORDER BY c.contentId DESC
    </select>

    <select id="select" resultMap="contentMap">
        SELECT
            c.contentId,
            c.contentName,
            c.contentRegion,
            c.contentStartDate,
            c.contentEndDate,
            c.contentPrice,
            c.contentBoard,
            p.contentPosterName,
<!--            d.contentDetailId,-->
            d.contentDetailName
        FROM
            Content c LEFT JOIN ContentPoster p ON c.contentId = p.contentId
                      LEFT JOIN ContentDetail d ON c.contentId = d.contentId
        WHERE
            c.contentId = #{contentId}
    </select>

    <resultMap type="com.limdaram.ticketing.domain.content.ContentDto" id="contentMap">
        <id column="contentId" property="contentId"></id>
        <result column="contentName" property="contentName"></result>
        <result column="contentRegion" property="contentRegion"></result>
        <result column="contentStartDate" property="contentStartDate"></result>
        <result column="contentEndDate" property="contentEndDate"></result>
        <result column="contentPrice" property="contentPrice"></result>
        <result column="contentBoard" property="contentBoard"></result>
        <result column="contentPosterName" property="contentPosterName"></result>
<!--        <result column="contentDetailId" property="contentDetailId"></result>-->
        <collection property="contentDetailName" ofType="string">
            <result property="contentDetailName" column="contentDetailName"></result>
        </collection>
    </resultMap>

    <update id="update">
        UPDATE Content
        SET
            contentName = #{contentName},
            contentRegion = #{contentRegion},
            contentStartDate = #{contentStartDate},
            contentEndDate = #{contentEndDate},
            contentPrice = #{contentPrice},
            contentBoard = #{contentBoard}
        WHERE
            contentId = #{contentId}
    </update>

    <delete id="delete">
        DELETE FROM Content
        WHERE contentID = #{contentId}
    </delete>

    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM Content
    </select>

    <insert id="insertFile">
        INSERT INTO ContentPoster (contentId, contentPosterName)
        VALUES (${contentId}, #{fileName})
    </insert>

    <insert id="insertFile2">
        INSERT INTO ContentDetail (contentId, contentDetailName)
        VALUES (${contentId}, #{fileName})
    </insert>

    <delete id="deletePosterByContentId">
        DELETE FROM ContentPoster
        WHERE contentId = #{contentId}
    </delete>

    <delete id="deleteDetailByContentId">
        DELETE FROM ContentDetail
        WHERE contentId = #{contentId}
    </delete>

    <delete id="deleteByContentIdAndDetailName">
        DELETE FROM ContentDetail
        WHERE contentId = #{contentId} AND contentDetailName = #{fileName}
    </delete>

    <select id="reserv" resultType="com.limdaram.ticketing.domain.customer.CustomerDto">
        SELECT FROM CustomerDto
        WHERE customerId = #{customerId}
    </select>

</mapper>