<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.limdaram.ticketing.mapper.customer.CustomerMapper">
<!--    <select id="select" resultType="com.limdaram.ticketing.domain.customer.CustomerDto">-->
<!--        SELECT *-->
<!--        FROM Customer-->
<!--        WHERE customerUniqueNumber = #{customerUniqueNumber}-->
<!--    </select>-->

    <insert id="insert" useGeneratedKeys="true" keyProperty="customerId">
        INSERT INTO Customer (customerId, customerPassword, customerEmail, customerName, customerAddress, customerPhoneNumber, customerBirth, social)
        VALUES (#{customerId}, #{customerPassword}, #{customerEmail}, #{customerName}, #{customerAddress}, #{customerPhoneNumber}, #{customerBirth}, #{social})

    </insert>

    <!--    <select id="getByCustomerUniqueNumber" resultType="com.limdaram.ticketing.domain.customer.CustomerDto">-->
<!--        SELECT *-->
<!--        FROM Customer-->
<!--        WHERE customerUniqueNumber = #{customerUniqueNumber}-->
<!--    </select>-->

    <delete id="delete">
        DELETE FROM Customer
        WHERE customerId = #{customerId}
    </delete>

    <select id="getByCustomerId" resultMap="customerMap" >
        SELECT
            c.customerName,
            c.customerBirth,
            c.customerAddress,
            c.customerId,
            c.customerPassword,
            c.customerEmail,
            c.customerPhoneNumber,
            c.customerGrade,
            c.customerTotalPaid,
            c.customerInserted,
            c.social,
            a.auth
        FROM Customer c LEFT JOIN Authority a ON c.customerId = a.customerId
        WHERE c.customerId = #{customerId}

    </select>

    <resultMap id="customerMap" type="com.limdaram.ticketing.domain.customer.CustomerDto">
        <id column="customerId" property="customerId"></id>
        <result column="customerName" property="customerName"></result>
        <result column="customerBirth" property="customerBirth"></result>
        <result column="customerAddress" property="customerAddress"></result>
        <result column="customerPassword" property="customerPassword"></result>
        <result column="customerEmail" property="customerEmail"></result>
        <result column="customerPhoneNumber" property="customerPhoneNumber"></result>
        <result column="customerGrade" property="customerGrade"></result>
        <result column="customerTotalPaid" property="customerTotalPaid"></result>
        <result column="customerInserted" property="customerInserted"></result>
        <result column="social" property="social"></result>
        <collection property="auth" ofType="string">
            <result column="auth" property="auth"></result>
        </collection>
    </resultMap>

    <select id="getByCustomerEmail" resultType="com.limdaram.ticketing.domain.customer.CustomerDto">
        SELECT *
        FROM Customer
        WHERE customerEmail = #{customerEmail}
    </select>

    <update id="nameModify">
        UPDATE Customer
        SET customerName = #{customerName}
        WHERE customerId = #{customerId}
    </update>

    <update id="birthModify">
        UPDATE Customer
        SET customerBirth = #{customerBirth}
        WHERE customerId = #{customerId}
    </update>

    <update id="passwordModify">
        UPDATE Customer
        SET customerPassword = #{customerPassword}
        WHERE customerId = #{customerId}
    </update>

    <update id="phoneNumberModify">
        UPDATE Customer
        SET customerPhoneNumber = #{customerPhoneNumber}
        WHERE customerId = #{customerId}
    </update>

    <update id="addressModify">
        UPDATE Customer
        SET customerAddress = #{customerAddress}
        WHERE customerId = #{customerId}
    </update>


</mapper>