<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.limdaram.ticketing.mapper.customer.CustomerMapper">
    <select id="select" resultType="com.limdaram.ticketing.domain.customer.CustomerDto">
        SELECT *
        FROM Customer
        WHERE customerUniqueNumber = #{customerUniqueNumber}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="customerUniqueNumber">
        INSERT INTO Customer (customerId, customerPassword, customerEmail, customerName, customerAddress, customerPhoneNumber, customerBirth)
        VALUES (#{customerId}, #{customerPassword}, #{customerEmail}, #{customerName}, #{customerAddress}, #{customerPhoneNumber}, #{customerBirth})
    </insert>

    <select id="getByCustomerUniqueNumber" resultType="com.limdaram.ticketing.domain.customer.CustomerDto">
        SELECT *
        FROM Customer
        WHERE customerUniqueNumber = #{customerUniqueNumber}
    </select>

<!--    <update id="update">-->
<!--        UPDATE Customer-->
<!--        SET-->
<!--        customerPassword = #{customerPassword},-->
<!--        customerEmail = #{customerEmail},-->
<!--        customerAddress = #{customerAddress},-->
<!--        customerPhoneNumber = #{customerPhoneNumber},-->
<!--        customerBirth = #{customerBirth}-->
<!--        WHERE customerUniqueNumber = #{customerUniqueNumber}-->
<!--    </update>-->

    <delete id="delete">
        DELETE FROM Customer
        WHERE customerUniqueNumber = #{customerUniqueNumber}
    </delete>

    <select id="getByCustomerId" resultType="com.limdaram.ticketing.domain.customer.CustomerDto" >
        SELECT *
        FROM Customer
        WHERE customerId = #{customerId}
    </select>

    <select id="getByCustomerEmail" resultType="com.limdaram.ticketing.domain.customer.CustomerDto">
        SELECT *
        FROM Customer
        WHERE customerEmail = #{customerEmail}
    </select>

    <update id="passwordModify">
        UPDATE Customer
        SET customerPassword = #{customerPassword}
        WHERE customerUniqueNumber = #{customerUniqueNumber}
    </update>

</mapper>