<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.limdaram.ticketing.mapper.customer.CustomerMapper">
    <select id="select" resultType="string">
        SELECT customerName
        FROM Customer
        WHERE customerUniqueNumber = #{customerUniqueNumber}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Member (customerUniqueNumber, customerId, customerPassword, customerEmail, customerName, customerAddress, customerPhoneNumber, customerBirth)
        VALUES (#{customerUniqueNumber}, #{customerId}, #{customerPassword}, #{customerEmail}, #{customerName}, #{customerAddress}, #{customerPhoneNumber}, #{customerBirth})
    </insert>

</mapper>