<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.limdaram.ticketing.mapper.reply.ReplyMapper">

    <select id="list" resultType="com.limdaram.ticketing.domain.reply.ReplyDto">
        SELECT
            replyId,
            replyName,
            replyContent,
            replyInserted,
            contentId
        FROM
            Reply
        ORDER BY replyId DESC

    </select>

    <select id="selectDuo" resultType="com.limdaram.ticketing.domain.reply.ReplyDto">
        SELECT
            replyId,
            replyName,
            replyContent,
            replyInserted,
            replyMainText
        FROM
            Reply
        WHERE
            replyId = #{replyId}
        AND
            replyName = #{replyName}
    </select>

    <select id="select" resultType="com.limdaram.ticketing.domain.reply.ReplyDto">
        SELECT
            replyId,
            replyName,
            replyContent,
            replyInserted,
            replyMainText
        FROM
            Reply
        WHERE
            replyId = #{replyId}
    </select>
    <select id="selectContentId" resultType="com.limdaram.ticketing.domain.reply.ReplyDto">
        SELECT
            replyId,
            replyName,
            replyContent,
            replyInserted,
            replyMainText,
            contentId
        FROM
            Reply
        WHERE
            contentId = #{contentId}
    </select>

    <insert id="addReply">
        INSERT INTO Reply (
            replyName,
            replyContent,
            replyInserted
        )
        VALUES (
            #{replyName},
            #{replyContent},
            NOW()
        )
    </insert>

    <delete id="deleteById">
        DELETE FROM
            Reply
        WHERE
            replyName = #{replyName}
    </delete>

    <insert id="insert">
        INSERT INTO Reply(
            replyName,
            replyContent,
            replyMainText
        )
        VALUES(
            #{replyName},
            #{replyContent},
            #{replyMainText}
        )
    </insert>

    <update id="updateReply">
        UPDATE
            Reply
        SET
            replyContent = #{replyContent},
            replyMainText = #{replyMainText}
        WHERE
            replyId = #{replyId}
    </update>

    <delete id="removeById">
        DELETE FROM
            Reply
        WHERE
            replyId = #{replyId}
    </delete>

</mapper>